/* IMPOSTAZIONI GENERALI */
body {
    background-image: url(../img/sfondo.png);
    background-repeat: repeat;
    background-position: center center;
    font-family: Poppins;
}
/* HEADER */
header {
    text-align: center;
    background: linear-gradient(to bottom, #4297bb, #2D6B84);
    box-shadow: rgba(0, 0, 0, 0.6) 1.95px 5.95px 3.6px;
    color: white;
}

#logo {
    width: 25%;
}

ul {
    list-style-position: inside;
    list-style-type: "⋆" ;
    }
/* MAIN */
h1 {
    font-weight: 500;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
